# Python
*.py[cod]
*$py.class
*.pyc
__pycache__/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media
media/

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/

# Environment Variables
.env

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
